{% extends "base.html" %}

{% block content %}
<h2>QuickPoll Archive</h2>

<div class="text-center mb-4">
    <a href="{% url 'polls:quickpoll_create' %}" class="btn">New Quickpoll</a>
</div>
<ul>
    {% for poll in polls %}
        <li>
            <a href="{% url 'polls:quickpoll_detail' poll.external_id %}" class="stretched-link">{{ poll.question }}</a> 
            ({{ poll.ballot_count }} votes) - Finished: {{ poll.dead_line|date:"F j, Y, g:i a" }}
        </li>
    {% empty %}
        <li>No archived polls.</li>
    {% endfor %}
</ul>

{% endblock %}
