{% extends "base.html" %}

{% block content %}
<div class="user-profile">
    <h1>Bienvenue, {{ user.get_full_name|default:user.username }} !</h1>

    <div class="profile-info">
        <div class="details">
            <!-- Nom et Email -->
            <p><strong>Nom :</strong> {{ user.get_full_name|default:"Non renseigné" }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
        </div>
    </div>
        <div class="user-links">
            <h2>Vos actions rapides</h2>
            <ul>
                <!-- Liens vers les autres sections -->
                <li>
                    <a href="{% url 'house-create' %}">➕ Créer une nouvelle maison</a>
                </li>
                <li>
                    <a href="{% url 'house-list' %}">🏠 Maisons</a>
                </li>
                <li>
                    <a href="#">📊 Mes scrutins</a>
                </li>
                <li>
                    <form action="{% url 'account_logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer; padding: 0; text-decoration: underline;">
                                🚪 Se déconnecter
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}