{% extends "base.html" %}

{% block content %}
  <h2>Houses</h2>

  <a href="{% url 'house-create' %}">Create a new House</a>

  {% if houses %}
    <ul>
      {% for house in houses %}
        <li>
          <a href="{% url 'house-detail' house.pk %}">{{ house.name }}</a>
          - <a href="{% url 'house-update' house.pk %}">Edit</a>
          - <a href="{% url 'house-delete' house.pk %}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No houses found. Create one to get started!</p>
  {% endif %}
{% endblock %}