{% extends "base.html" %}

{% block content %}
  <h2>Toutes les maisons</h2>

  <a href="{% url 'house-create' %}" class="btn btn-primary mb-3">➕ Créer une nouvelle maison</a>

  <h3>Mes Maisons</h3>
  {% if my_houses %}
    <ul>
      {% for house in my_houses %}
        <li>
          <a href="{% url 'house-detail' house.pk %}"><strong>{{ house.name }}</strong></a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Vous n'appartenez à aucune maison pour le moment.</p>
  {% endif %}

  <h3 class="mt-4">Autres Maisons</h3>
  {% if other_houses %}
    <ul>
      {% for house in other_houses %}
        <li>
            <a href="{% url 'house-detail' house.pk %}">{{ house.name }}</a>
        </li>
          {% endfor %}
        </ul>
      {% else %}
    <p>Il n'y a pas d'autres maisons.</p>
  {% endif %}
{% endblock %}