{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block meta_description %}A free and secure Condorcet voting and polling system{% endblock %}

{% block content %}

    <div class="hero-section text-center">
        <h1>Welcome to FairPoll</h1>
        <p class="lead">A free and secure Condorcet voting and polling system</p>
    </div>


    {% if user.is_authenticated %}
      <h2>Polls Waiting For You</h2>
      {% if pending_polls %}
          <ul>
              {% for poll in pending_polls %}
                  <li>
                      <a href="{% url 'polls:house_poll_detail' poll.external_id %}" class="stretched-link">{{ poll.question }}</a>
                      (Deadline: {{ poll.dead_line }})
                  </li>
              {% endfor %}
          </ul>
      {% else %}
          <p>You have no pending polls to vote on right now.</p>
      {% endif %}
    {% endif %}

{% endblock %}
